
.nav {
  border-top: 1px solid $lineColoe;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: white;
  z-index: 9;

  .nav-item {
    flex: 1; text-align: center;
  }
}
