.message-list {
    margin-bottom: $footerHeight;
}

.message {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  line-height: 1.25em;
  border-bottom: 1px solid $lineColoe;
}

.message {
  .figure {
    flex: 0 1 50px;
    margin-right: 10px;

    img { width: 100%; }
  }
}

.message {
  .main {
    flex: 1;

    .name {
      span { color: #6f7fcc; }
      i { float: right; }
    }

    .time {
      font-size: 0.75em;
      color: #999999;
    }

    .title {
      font-weight: bold;
      font-size: 1.25em;
      margin-top: 8px;
    }

    .content {
      color: #666666;
      margin-top: 8px;
    }
  }
}

.message .feed {
  display: flex;
  margin-top: 10px;

  .collect, .praise, .comment {
    min-width: 64px;
  }

  .collect { flex: 4; }

  .praise { flex: 1; }

  .comment { flex: 1; }
}
